/GestorDeAgenda/nbproject/private/
/Diseño/nbproject/private/
/TareaN/nbproject/private/
/GestorDeAgenda/build/
/ApiRequest/nbproject/private/
/ApiRequest/build/
/JasperReport/nbproject/private/
/JasperReport/build/
/DemoJFreeChart/nbproject/private/
/DemoJFreeChart/build/